.header { 
  position: relative;
  
}

.container {
  display: flex;
  font-family: myFont;
  /* justify-content: space-around; */
}

.btn {
  width: 40px;
  height: 40px;
  margin-top: 25px;
  margin-left: 50px;
  font-size: 20px;
  border-radius: 50%;
  border-style: solid;
  border-color: coral;
  background-color: #ffffff;
  cursor: pointer;
}

.cont1 {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.title1 {
  /* font-family: myFont; */
  /* font-style: normal; */
  /* position: absolute; */
  font-size: 18px;
  font-weight: 700;
  margin-top: 25px;
  margin-left: 76px;
  /* margin-right: 50%; */
  /* text-align: left; */
  line-height: 29px;
  color: #1a1a1a;
  
}

.pageNum {
  /* flex: 50%; */
  align-items: flex-end;
  margin-top: 25px;
  margin-left: 630px;
  font-size: 17px;
  line-height: 21px;
}

.line {
  display: flex;
  justify-content: center;  
  border: 1px solid #1a1a1a;
  width: 73.5%;
  /* position: absolute; */
  margin-left: 165px;   
}